div{
  margin: 10px 0;
}

.complete > span {
  font-weight: bold;
}

.green { color : hsl(157, 56%, 41%) }

.red {  color : #A02334  }

.content{
  border: 2px solid #ccc;
  padding: 10px;
  width: 480px;
  min-height: 300px;

  /* 내부 내용을 pre 태그처럼
    html에 작성된 그대로 출력해! */
  white-space: pre-wrap;
}

.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  /* 처음과 끝 요소는 끝에 붙고 중간은 적절하게 */
}